src/main/mule/Project-Tocall-playersStats.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="Project-Tocall-playersStatsFlow" doc:id="853e6610-ea38-4500-9384-4126c250f785">
		<http:request method="GET" doc:name="Request" doc:id="1811f93b-d6b0-49b6-a33f-fdd1cb80dfe2" config-ref="HTTP_Request_configuration" path="${Request.fantacyPath}">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"apikey" : "804ytInkdGZJPQCf0mBM9qoezLx2",
	"unique_id" : "1034809"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="c8514667-9cc1-4440-befb-51f679a8198a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload.squad.players[0].pid]" doc:name="Set Variable" doc:id="75403dae-08b0-4520-bf8e-cef4154fec28" variableName="pids"/>
		<ee:transform doc:name="Transform Message" doc:id="6b2cd0f3-b505-4904-8f07-2c03db139582">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="forpay"><![CDATA[%dw 2.0
output application/json
---
{
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="245f8166-4566-4267-a5ad-cffb5cc39497" collection="#[vars.pids]">
			<set-variable value="#[payload]" doc:name="Set Variable" doc:id="19cdb6c5-9381-4b30-b458-3cf93a31b049" variableName="pid" />
			<http:request method="GET" doc:name="Request" doc:id="79fe5864-7640-47e1-a0bf-5f14dde078eb" config-ref="HTTP_Request_configuration" path="${Request.playerpath}">
				<http:query-params><![CDATA[#[output application/java
---
{
	"apikey" : "IHLeRh9D1DUUIRkaASMa7X11mtJ3",
	"pid" : vars.pid
}]]]></http:query-params>
			</http:request>
			<ee:transform doc:name="Transform Message" doc:id="88737a78-8701-4fde-9624-0c3c5ec9602b">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"TimeStamp": now() >> "America/New_York",
	"Name": payload.name,
	"Profile": payload.profile,
	"PlayerStats": if (attributes.vars.path =="/api/playersInfo-ODI") payload.data.batting."ODIs" else if(attributes.vars.path =="/api/playersInfo-T20")payload.data.batting."T20Is" else payload.data.batting."tests"
	
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<ee:transform doc:name="Transform Message" doc:id="b3cac6db-9573-44de-b306-778825e0842a">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.forpay ++ payload]]></ee:set-payload>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="forpay"><![CDATA[%dw 2.0
output application/json
---
vars.forpay ++ payload]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="9b63da99-1ece-43d2-a07c-89c7e4b0ecb8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.forpay]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Project-Tocall-playersStatsFlow2" doc:id="175c5351-4e70-47f1-b324-7159f0b0c74c" >
		<http:request method="GET" doc:name="Request" doc:id="c8f9ae48-6a3e-42bc-b311-3eb650f21ab9" config-ref="HTTP_Request_configuration" path="/playerFinder">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"apikey" : "IHLeRh9D1DUUIRkaASMa7X11mtJ3",
	"name" : vars.name
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="1c6e84f6-4ccb-403d-bc65-aa76df626aa3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload.data.pid[0]]" doc:name="Set Variable" doc:id="79903675-b515-4bc4-bc0b-075884c6b8ba" variableName="pid"/>
		<http:request method="GET" doc:name="Request" doc:id="149c1071-aefa-4532-a82f-c7d64f4b17d8" config-ref="HTTP_Request_configuration" path="${Request.playerpath}">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"apikey" : "IHLeRh9D1DUUIRkaASMa7X11mtJ3",
	"pid" : vars.pid
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="b0708fa4-2b65-4db9-ada0-0b099b68c7eb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"TimeStamp": now() >> "America/New_York",
	"Name": payload.name,
	"Profile": payload.profile,
	"PlayerRuns": "*T20sRuns:" ++ payload.data.batting.T20Is.Runs ++  "*ODIRuns:" ++ payload.data.batting.ODIs.Runs
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
